<div th:fragment="menu">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" th:href="@{/}">Payments</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					
					<li th:classappend="${(#httpServletRequest).requestURL.toString().contains('/payments')? 'active' : ''}" ><a href="/payments" th:href="@{/payments}">Add info</a></li>
					<li th:classappend="${(#httpServletRequest).requestURL.toString().contains('/statistics/')? 'active' : ''}"><a href="/statistics" th:href="@{/statistics/{month}(month=${#calendars.format(#dates.createNow(), 'MM-yyyy')})}">Statistics</a></li>
					<li th:classappend="${(#httpServletRequest).requestURL.toString().contains('/transactions/')? 'active' : ''}"><a  href="/transactions" th:href="@{/transactions/{month}(month=${#calendars.format(#dates.createNow(), 'MM-yyyy')})}">Transactions</a></li>
					<li th:classappend="${(#httpServletRequest).requestURL.toString().contains('/savings')? 'active' : ''}"><a  href="/savings" th:href="@{/savings}">Savings</a></li>
					<li th:classappend="${(#httpServletRequest).requestURL.toString().contains('/addsaving')? 'active' : ''}"><a  href="/addsaving" th:href="@{/addsaving}">Add Savings</a></li>
					<li th:classappend="${(#httpServletRequest).requestURL.toString().contains('/admin/')? 'active' : ''}" sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin" th:href="@{/admin}">Admin</a></li>
					<li><a th:href="@{/logout}" href="/logout">Logout</a></li>					
				</ul>
			</div>
			
			<!--/.nav-collapse -->
		</div>
	</nav>
</div>