<!DOCTYPE html>
<html lang="en">
<head th:fragment="header">
	<title>Add Savings</title>
</head>
<body>

	<div class="container" th:fragment="content">

		<div class="starter-template">

			<h1>Add Saving</h1>

			<form class="form-horizontal" role="form" action="#" th:action="@{/addsaving}" th:object="${savingForm}"
					method="post">

					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">Amount</label>
						<div class="col-sm-10 col-xs-12 input-group">
							<input type="number" min="0" step="0.01" th:field="*{amount}" class="form-control" />
							<span class="input-group-addon">&euro;</span>
						</div>					
					</div>
					<p class="red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>						
						
					<div class="form-group">
						<button class="btn" type="submit">Submit</button>
					</div>
			</form>
					
			<div class="alert alert-success" th:if="${statusCode!=null}">
				Success
			</div>
			
			
			
		</div>

	</div>
	<!-- /.container -->

</body>
</html>

