<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
	<title>Home</title>
</head>
<body>
	<div class="container" th:fragment="content">

		<div class="starter-template">

			<h1>Home</h1>
			<!-- 
			<div class="btn-group-vertical" role="group">			
				
					<a th:each="month : ${months}" class="btn btn-default" href="#"
						th:href="@{/statistics/{date}(date=${#calendars.format(month, 'MM-yyyy')})}"
						th:text="${#calendars.format(month, 'MMMM yyyy')}"></a>
			</div>
			<div class="btn-group-vertical" role="group">			
					<a th:each="month : ${months}" class="btn btn-default glyphicon glyphicon-zoom-in" href="#"					
						th:href="@{/transactions/{date}(date=${#calendars.format(month, 'MM-yyyy')})}"></a>
			</div>
			-->
			<div style="margin: 0 auto; text-align: center">
				<div th:each="year: ${years}" style="width: 200px; display: inline-block; vertical-align: top; margin-right: 20px; margin-top: 15px;">		
				
					<div class="btn-group-vertical" role="group" style="width: 100%">			
						<div class="btn btn-default" th:each="month : ${year.value.descendingSet()}">
							<a  style="text-decoration: none; " href="#"
								th:href="@{/statistics/{date}(date=${#calendars.format(month, 'MM-yyyy')})}"
								th:text="${#calendars.format(month, 'MMMM yyyy')}"></a>
							<a style="float: right; text-decoration: none; margin-left: 15px" class="glyphicon glyphicon-zoom-in" href="#"					
								th:href="@{/transactions/{date}(date=${#calendars.format(month, 'MM-yyyy')})}"></a>	
								
						</div>
							
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>
