<!DOCTYPE html>
<html lang="en">
<head th:fragment="header">
	<title>Add info</title>
	
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

           var tags = /*[[${tags}]]*/;
           var names = tags.map(function(tag) {
        	    return tag['name'];
        	});
           
           jQuery(document).ready(function(){
        	   $('.tagsinput').tagsinput({
        			  typeahead: {
        			    source: names
        			  }    	   
           		});
	
			});
	/*]]>*/
</script>	
	
</head>
<body>

	<div class="container" th:fragment="content">

		<div class="starter-template">

			<h1>Add info</h1>

			<p>
				<span th:each="tag : ${tags}" th:text="${tag.name}"></span>
			</p>

			<ul class="nav nav-tabs" role="tablist" id="myTab">
			  <li role="presentation" th:classappend="${(paymentForm==null or !paymentForm.income) ? 'active' : ''}"><a href="#payments" aria-controls="home" role="tab" data-toggle="tab">Payments</a></li>
			  <li role="presentation" th:classappend="${(paymentForm!=null and paymentForm.income) ? 'active' : ''}"><a href="#income" aria-controls="profile" role="tab" data-toggle="tab">Income</a></li>		  
			</ul>
			
			<div class="tab-content">
			  <div role="tabpanel" class="tab-pane" id="payments" th:classappend="${(paymentForm==null or !paymentForm.income) ? 'active' : ''}">
			  	<form class="form-horizontal" role="form" action="#" th:action="@{/payments}" th:object="${paymentForm}"
					method="post">
	
					<div class="form-group">			
						<label class="col-sm-2 col-xs-12 control-label">Type</label>
						
						<div class="col-sm-10 col-xs-12 input-group">
							<select th:field="*{type}" class="form-control">
							  	<option
										th:each="paymentType : ${T(model.dataobjects.PaymentType).values()}"
										th:value="${paymentType}" th:text="${paymentType.name}"></option>
							</select>				
						</div>	
					</div>
					<p th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">Amount</label>
						<div class="col-sm-10 col-xs-12 input-group">
							<input type="number" min="0" step="0.01" th:field="*{amount}" class="form-control" />
							<span class="input-group-addon">&euro;</span>
						</div>					
					</div>
					<p class="red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>
					
					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">Tags</label>
						<div class="col-sm-10 col-xs-12 input-group">
							<input type="text" th:field="*{tags}" class="form-control tagsinput" />
						</div>					
					</div>
					<p class="red" th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}"></p>
					
						
					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">Comments</label>
						<div class="col-sm-10 col-xs-12 input-group">
							<textarea type="text" th:field="*{comments}" class="form-control" ></textarea>
						</div>					
					</div>
					<p class="red" th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"></p>	
					
					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">Date</label>
						<div class="col-sm-10 col-xs-12 input-group">
							<input type="date" name="date"  th:value="*{date} ? *{#dates.format(date, 'yyyy-MM-dd')}"  class="form-control" />							
						</div>					
					</div>
					<p class="red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}" ></p>
					
					
					<div class="form-group">
						<button class="btn" type="submit">Submit</button>
					</div>
				</form>
			  </div>
			  <div role="tabpanel" class="tab-pane" id="income" th:classappend="${(paymentForm!=null and paymentForm.income) ? 'active' : ''}">
			  	<form class="form-horizontal" role="form" action="#" th:action="@{/payments}" th:object="${paymentForm}"
					method="post">
					<input type="hidden" name="income" value="true" />
					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">Amount</label>
						<div class="col-sm-10 col-xs-12 input-group">
							<input type="number" min="0" step="0.01" th:field="*{amount}" class="form-control" />
							<span class="input-group-addon">&euro;</span>
						</div>					
					</div>
					<p class="red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>
					
					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">Date</label>
						<div class="col-sm-10 col-xs-12 input-group">
							<input type="date" name="date" th:value="*{date} ? *{#dates.format(date, 'yyyy-MM-dd')}"  class="form-control" />							
						</div>					
					</div>
					<p class="red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>
									
					<div class="form-group">
						<button class="btn" type="submit">Submit</button>
					</div>
				</form>
			  </div>

			</div>

			<h1>Upload Bank Statement</h1>
			<form class="form-horizontal" role="form" action="#" th:action="@{/uploadBank}" enctype="multipart/form-data" method="post">

					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">Bank</label>
						<div class="col-sm-10 col-xs-12 input-group">
							<select name="bank" class="form-control">
								<option value="ING">ING</option>
								<option value="EVO">EVO</option> 
							</select>							
						</div>	
						<label class="col-sm-2 col-xs-12 control-label">File</label>
						<div class="col-sm-10 col-xs-12 input-group">
							<input type="file" name="file" class="form-control" />							
						</div>					
					</div>	
						
					<div class="form-group">
						<button class="btn" type="submit">Submit</button>
					</div>
			</form>
			


			<div class="alert alert-success" th:if="${statusCode!=null and statusCode == 'success'}">
				Success
			</div>
			
			<div class="alert alert-danger" th:if="${statusCode!=null and statusCode == 'error'}">
				Error
			</div>
			
		</div>

	</div>
	<!-- /.container -->

</body>
</html>

