<!DOCTYPE html>
<html lang="en">
<head th:fragment="header">
	<title>Statistics</title>
	<script src="/resources/amcharts/amcharts.js" th:src="@{/resources/amcharts/amcharts.js}"
			type="text/javascript"></script>
		<script src="/resources/amcharts/pie.js" th:src="@{/resources/amcharts/pie.js}"
			type="text/javascript"></script>
		<script src="/resources/amcharts/serial.js" th:src="@{/resources/amcharts/serial.js}"
			type="text/javascript"></script>

		<script type="text/javascript" th:inline="javascript"
			th:if="${pieChart!=null and !pieChart.isEmpty()}">
/*<![CDATA[*/
var pieChart = /*[[${pieChart}]]*/;  

AmCharts.ready(function () {
    // PIE CHART
    
    var chart = AmCharts.makeChart("chartdiv",{
		"type"		: 		"pie",
		"titleField" : 		"title",
		"valueField" : 		"value",
		"outlineColor" :	"#FFFFFF",
	    "outlineAlpha":		0.8,
	    "outlineThickness" : 	2,   
	    "labelsEnabled" : false,
	    "panEventsEnabled": 	false,
		"dataProvider"	: pieChart,			
		"numberFormatter" : {
			"precision":2, 
			"decimalSeparator":',', 
			"thousandsSeparator":'.'
		},
		"depth3D" : 15,
		"angle" : 30
	});
    
    //var legend = new AmCharts.AmLegend();
    //chart.addLegend(legend);
    
    // WRITE
    chart.write("pieChart");
});
/*]]>*/
</script>


<script type="text/javascript" th:inline="javascript"
			th:if="${barChart!=null and !barChart.isEmpty()}">
/*<![CDATA[*/
var barChart = /*[[${barChart}]]*/;  

AmCharts.ready(function () {
    // PIE CHART
    
    var chart = AmCharts.makeChart("chartdiv",{
		"type"		: 		"serial",
		"categoryField" : 		"title",
		//"valueField" : 		"value",
		//"outlineColor" :	"#FFFFFF",
	    //"outlineAlpha":		0.8,
	    //"outlineThickness" : 	2,   
	    //"labelsEnabled" : false,
	    //"panEventsEnabled": 	false,
		"dataProvider"	: barChart,			
		"numberFormatter" : {
			"precision":2, 
			"decimalSeparator":',', 
			"thousandsSeparator":'.'
		},
		"graphs": [{
	        //"balloonText": "[[category]]: <b>[[value]]</b>",
	        "fillAlphas": 0.8,
	        "lineAlpha": 0.2,
	        "type": "column",
	        "valueField": "value"		
	    }],
		//"depth3D" : 15,
		//"angle" : 30
	});
    
    //var legend = new AmCharts.AmLegend();
    //chart.addLegend(legend);
    
    // WRITE
    chart.write("barChart");
});
/*]]>*/
</script>


		<script type="text/javascript" th:inline="javascript"
			th:if="${stackedChart!=null and !stackedChart.isEmpty()}">
/*<![CDATA[*/
var stackedChart = /*[[${stackedChart}]]*/;  

AmCharts.ready(function () {
    var chart = new AmCharts.AmSerialChart();
    chart.dataProvider = stackedChart;
    chart.panEventsEnabled = false;
    chart.pathToImages = "/resources/amcharts/images/";
    chart.categoryField = "title";
    chart.dataDateFormat = "DD/MM/YYYY";

    // AXES
    // category
    var categoryAxis = chart.categoryAxis;
    categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
    categoryAxis.minPeriod = "DD"; // our data is daily, so we set minPeriod to DD
    categoryAxis.gridAlpha = 0;
    categoryAxis.tickLength = 0;
    categoryAxis.axisAlpha = 0;

    // value
    var valueAxis = new AmCharts.ValueAxis();
    valueAxis.dashLength = 4;
    valueAxis.axisAlpha = 0;
    valueAxis.unit = "\u20AC"; 
    chart.addValueAxis(valueAxis);


    // FROM GRAPH
    var fromGraph = new AmCharts.AmGraph();
    fromGraph.type = "line";
    fromGraph.valueField = "fromValue";
    fromGraph.lineAlpha = 0;
    fromGraph.showBalloon = false;
    chart.addGraph(fromGraph);

    // TO GRAPH
    var toGraph = new AmCharts.AmGraph();
    toGraph.type = "line";
    toGraph.valueField = "toValue";
    toGraph.lineAlpha = 0;
    toGraph.fillAlphas = 0.2;
    toGraph.fillToGraph = fromGraph;
    toGraph.showBalloon = false;
    chart.addGraph(toGraph);


    // GRAPH
    var graph = new AmCharts.AmGraph();
    graph.type = "line";
    graph.valueField = "value";
    graph.lineColor = "#000000";
    chart.addGraph(graph);

    // CURSOR
    var chartCursor = new AmCharts.ChartCursor();
    chart.addChartCursor(chartCursor);

    chart.creditsPosition = "top-right";

    // WRITE
    chart.write("stackedChart");
});
/*]]>*/
</script>

		<script type="text/javascript" th:inline="javascript"
			th:if="${multipleChart!=null and !multipleChart.isEmpty()}">
/*<![CDATA[*/

var multipleChart = /*[[${multipleChart}]]*/;            

var chartData = [];
var valueAxes = [];
var graphAxes = [];

generateChartData(multipleChart,chartData,valueAxes,graphAxes);
/*
chartData = [
             {
                 "date": "2014-11-20T19:44:23.077Z",
                 "Groceries": 308.07,
                 "Entertainment": 129.96,                 
             },
             {
                 "date": "2014-12-21T19:44:23.077Z",
                 "Groceries": 394.44,
                 "Entertainment": 27.48,                
             },
             {
                 "date": "2015-01-22T19:44:23.077Z",
                 "Groceries": 333.67,
                 "Entertainment": 70.21,
             }
];

valueAxes = [{ id: "vGroceries"
},
             { id: "vEntertainment"
}
            ];            
graphAxes = [{ valueAxis: "vGroceries", valueField: "Groceries"
},
             { valueAxis: "vEntertainment" , valueField: "Entertainment"
}
            ]; 
*/


console.log(JSON.stringify(chartData));
console.log(JSON.stringify(valueAxes));
console.log(JSON.stringify(graphAxes));

AmCharts.ready(function () {
		var chart = AmCharts.makeChart("chartdiv", {
		    "type": "serial",
		    "theme": "light",
		    //"dataDateFormat": "dd-MM-yyyy",
		    "pathToImages": "http://www.amcharts.com/lib/3/images/",
		    "legend": {
		        "useGraphSettings": true
		    },
		    "dataProvider": chartData,
		    //"valueAxes": valueAxes,
		    "graphs": graphAxes,
		    "chartScrollbar": {},
		    "chartCursor": {
		        "cursorPosition": "mouse"
		    },
		    "categoryField": "amchartDate",
		    "categoryAxis": {
		        "parseDates": true,
		        //"axisColor": "#DADADA",
		        //"minorGridEnabled": true
		    }
	});
		
	chart.write("multipleChart");
});



function generateChartData(entryData,chartData,valueAxes,graphAxes) {
    var created = [];
    
    for (var categoryName in entryData) {
    	var statisticsForCategory = entryData[categoryName];
    	
    	if (created[categoryName] == undefined){
    		created[categoryName] = {};    	
    		valueAxes.push({
    		        "id":"v"+categoryName
    		        /*"axisColor": "#FF6600",
    		        "axisThickness": 2,
    		        "gridAlpha": 0,
    		        "axisAlpha": 1,
    		        "position": "left"*/
    		});
    		graphAxes.push({
    		        "valueAxis": "v"+categoryName,
    		        /*"lineColor": "#FF6600",
    		        "bullet": "round",
    		        "bulletBorderThickness": 1,
    		        "hideBulletsCount": 30,*/
    		        "title": categoryName,
    		        "valueField": categoryName
    				//"fillAlphas": 0
    		});
    		
    	}
    	
    	for (var i=0;i<statisticsForCategory.length;i++){
    		var existingObject = null;    	
    		var date = statisticsForCategory[i].title;
    		for (var j=0;j<chartData.length;j++){
    			if (date == chartData[j].date){
    				existingObject = chartData[j];
    				break;
    			}
    		}
    		if (existingObject!=null){
    			var previousValue = existingObject[categoryName];
    			if (previousValue = null || previousValue == undefined){
    				previousValue = 0.0;
    			}    			    		
    			existingObject[categoryName] =  (previousValue + statisticsForCategory[i].value).toFixed(2);
    		} else {
    			var object = {};


    			var dateParts = date.split("-");
    			console.log(dateParts[1])
    			console.log(dateParts[0]);
    			console.log(1);
    			
    			var dateObject = new Date(dateParts[1],dateParts[0]-1,1);
    			
    			object.date = date;    			
    			object.amchartDate = dateObject.toISOString();
    			object[categoryName] = statisticsForCategory[i].value;
    			
    			chartData.push (object);
    		}
    	}
    	
    	for (var i=0;i<chartData.length;i++){
    		var value = chartData[i];
    		if (value[categoryName]==undefined){
    			value[categoryName] = 0.0;
    		}
    	}    
    }
    
    return chartData;
}




/*]]>*/
</script>
           

	
</head>

<body>

	<div class="container" th:fragment="content">
		
		<div class="starter-template">
			
			
			
			<h1>
				<a href="/statistics" th:if="${previousMonth!=null}" th:href="@{/statistics/{month}(month=${previousMonth})}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
				 Statistics <span th:text="${month}"></span>
				<a href="/statistics" th:if="${nextMonth!=null}" th:href="@{/statistics/{month}(month=${nextMonth})}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
			
				<a style="float: right" href="/transactions" th:href="@{/transactions/{month}(month=${month})}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
			</h1>
			
			
			<!-- 
			<ul class="nav nav-tabs" role="tablist" id="myTab">
			  <li role="presentation" class="active"><a href="#piechartTab" role="tab" data-toggle="tab">Pie Chart</a></li>
			  <li role="presentation"><a href="#stackedTab" aria-controls="profile" role="tab" data-toggle="tab">Stacked</a></li>		  
			</ul>
			<div class="tab-content">
			  	<div role="tabpanel" class="tab-pane active" id="piechartTab">
			  		<div class="alert alert-warning"
					th:if="${(pieChart==null or pieChart.isEmpty())}">
					No data available</div>
			  		
			  		<div id="pieChart" class="chart" style="width: 100%; height: 400px;"></div>
			  	</div>
				<div role="tabpanel" class="tab-pane" id="stackedTab">
					  <div class="alert alert-warning"
						th:if="${(stackedChart==null or stackedChart.isEmpty())}">
						No data available</div>
				  		<div id="stackedChart" class="chart" style="width: 100%; height: 400px;"></div>
				</div>
			</div>
			 -->
			<div class="alert alert-warning" th:if="${((pieChart==null or pieChart.isEmpty()) and (stackedChart==null or stackedChart.isEmpty()))}">
				No data available
			</div>
			<div id="pieChart" class="chart" style="width: 100%; height: 400px;" th:if="${pieChart!=null and !pieChart.isEmpty()}"></div>
			<div id="stackedChart" class="chart" style="width: 100%; height: 400px;" th:if="${stackedChart!=null and !stackedChart.isEmpty()}"></div>
			<div id="barChart" class="chart" style="width: 100%; height: 400px;" th:if="${barChart!=null and !barChart.isEmpty()}"></div>
			<div id="multipleChart" class="chart" style="width: 100%; height: 600px;" th:if="${multipleChart!=null and !multipleChart.isEmpty()}"></div>
		</div>

	</div>
	<!-- /.container -->

</body>
</html>

