<!DOCTYPE html>
<html lang="en">
<head th:fragment="header">
	<title th:fragment="title">Transactions</title>
		<!-- DataTables CSS -->
		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
 
		<!-- DataTables -->
		<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
		
	
		<link href="http://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
		<script src="http://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
		
		<script src="http://cdn.datatables.net/plug-ins/9dcbecd42ad/sorting/date-eu.js" type="text/javascript"></script>
		<script>
		/*<![CDATA[*/
			
			jQuery(document).ready(function(){
				var hash = window.location.hash;
				if(hash!=null && hash!=undefined && hash.indexOf("transactions")>=0){
					jQuery('#myTab #tabButtonSummary, #summary').removeClass('active');
					jQuery('#myTab #tabButtonTransactions, #transactions').addClass('active');
				}	
				
				$('.autoSend select').change(function(){
					var current = jQuery(this);
					var form = current.closest('form');
										
					if (current.val()!=""){
						form.submit();
					}
					
				});
				
				$('#summaryTable').DataTable( {
				    paging: false,
				    columnDefs: [
				                 { type: 'date-eu', targets: 0 }
				    ],
				    "order": [[ 0, "desc" ]],
				    "sDom": '<"top">t<"bottom"><"clear">',
				    "footerCallback": function ( row, data, start, end, display ) {
			            			 			           
			        },
			        "fnDrawCallback": function (oSettings) {
			            // Get all rows of your table
			            var nTrs = $('#summaryTable').find('tbody tr');
			            var nCols = $('#summaryTable').find('thead th');
			            for (var j=0;j<nCols.length;j++){
				            var element = nTrs.index(j);
				            var sum = 0;
				            var elements = false;
				            for (var i = 0; i < nTrs.length; i++) {
				                 var iDisplayIndex = oSettings._iDisplayStart + i;
				                 var dataIndex = oSettings.aiDisplay[iDisplayIndex];
				                 var value = oSettings.aoData[dataIndex]._aData[j];
				                 if (value!=null && value!=undefined) {
				                	 value = value.replace(".","")
				                	 value = value.replace(",",".")
				                 }
				                 var num = Number(value);
				                 if (!isNaN(num)){
				                	 elements = true;
				                	 sum += num;
				                 }				                 
				            }
				            // Insert sum at the end
				            if (elements){
				            	$('#summaryTable').find('tfoot td:nth-child('+(j+1)+')').text(sum.toFixed(2));
				            }
				            
			            }
			        
			        }
				});	
				$('#transactionsTable').DataTable( {
				    paging: false,
				    "order": [[ 0, "desc" ]],
				    columnDefs: [
				                 { type: 'date-eu', targets: 0 }
				    ],
				    "sDom": '<"top"i>rft<"bottom"lp><"clear">'
				});
				
				$('.editButton').click(function(){
					var row = $(this).closest('tr');
					var hidden = row.find('.hide')
					var shown = row.find('.show');
					hidden.removeClass('hide').addClass('show');
					shown.removeClass('show').addClass('hide');
				});
			});
		/*]]>*/	
		</script>

</head>

<body>

	<div class="container"  th:fragment="content">
		
		<div class="starter-template">
			<h1>
				<a href="/transactions" th:if="${previousMonth!=null}" th:href="@{/transactions/{month}(month=${previousMonth})}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
				 Transactions <span th:text="${month}"></span>
				<a href="/transactions" th:if="${nextMonth!=null}" th:href="@{/transactions/{month}(month=${nextMonth})}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
			
				<a style="float: right" href="/statistics" th:href="@{/statistics/{month}(month=${month})}"><span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span></a>
			</h1>
			
			
			
			
			
			<div class="alert alert-warning" th:if="${
			(statisticsFull==null or statisticsFull.isEmpty()) and 
			(payments==null or payments.isEmpty()) and
			(income==null or income.isEmpty())}">
				No data available
			</div>
			
			<ul class="nav nav-tabs" role="tablist" id="myTab" th:if="${
			(statisticsFull!=null and !statisticsFull.isEmpty()) or 
			(payments!=null and !payments.isEmpty()) or
			(income!=null and !income.isEmpty())}">
			  <li role="presentation" class="active" id="tabButtonSummary"><a href="#summary" aria-controls="home" role="tab" data-toggle="tab">Summary</a></li>
			  <li role="presentation" id="tabButtonTransactions"><a href="#transactions" aria-controls="profile" role="tab" data-toggle="tab">Transactions</a></li>		  
			</ul>
			
			<div class="tab-content">
			  <div role="tabpanel" class="tab-pane active" id="summary">
					<div class="table-responsive">
						<table class="table" id="summaryTable" th:if="${statisticsFull!=null and !statisticsFull.isEmpty()}">
							<thead>
								<tr>
									<th></th>
									<th scope="col" th:each="statisticsEntry : ${statisticsFull}" th:text="${statisticsEntry.key}"></th>					
								</tr>
							</thead>
							<tfoot>
					            <tr>
					            	<td></td>					                
					                <td class="currencyTableEntry" th:each="statisticsEntry : ${statisticsFull}"></td>
					            </tr>
					        </tfoot>
							<tbody>
								<tr th:each="date : ${dates}">
									<th scope="row" th:text="${date}"></th>
									<td class="currencyTableEntry" th:each="statisticsEntry : ${statisticsFull}" th:text="${statisticsEntry.value.get(date)!=null ? #numbers.formatDecimal(statisticsEntry.value.get(date),1,'POINT',2,'COMMA') : '0,00' }"></td>						 
								</tr>
							</tbody>
						
						</table>
					</div>
				</div>

			  	<div role="tabpanel" class="tab-pane" id="transactions" style="padding-top: 10px">
					<div class="table-responsive">
						<table class="table"  id="transactionsTable" th:if="${((payments!=null and !payments.isEmpty()) or (income!=null and !income.isEmpty()))}">
							<thead>
								<tr>
									<th class="col-md-1">Date</th>
									<th class="col-md-2">Type</th>
									<th class="col-md-1">Amount</th>
									<th class="col-md-7">Comment</th>	
									<th class="col-md-1">Change</th>				
								</tr>
							</thead>
							<tbody>
								<tr th:each="payment : ${payments}">							
									<td class="col-md-1" th:text="${#calendars.format(payment.date,'dd/MM/yyyy')}"></td>						 
									<td class="col-md-2">
										
										<a class="typeText show" th:href="@{/impute/{id}(id=${payment.id})}" th:if="${(payment.type == T(model.dataobjects.PaymentType).ATMCheckout) and payment.amount>0}">
											<span th:text="${payment.type}"></span>											
											<span class="glyphicon glyphicon glyphicon-pencil red-colored"></span>											
										</a>								
										<a class="typeText show" th:href="@{/cart/{id}(id=${payment.id})}" th:if="${payment.type == T(model.dataobjects.PaymentType).Groceries}">
											<span th:text="${payment.type}"></span>
											<span class="glyphicon glyphicon-ok green-colored" th:if="${payment.type == T(model.dataobjects.PaymentType).Groceries and payment.fullyExplained!=null and payment.FullyExplained}"></span>
											<span class="glyphicon glyphicon glyphicon-pencil red-colored" th:if="${payment.type == T(model.dataobjects.PaymentType).Groceries and (payment.fullyExplained==null or not payment.FullyExplained)}"></span>											
										</a>
										<span class="typeText show" th:if="${(payment.type != T(model.dataobjects.PaymentType).Groceries) and (payment.type != T(model.dataobjects.PaymentType).ATMCheckout or payment.amount == 0)}" th:text="${payment.type}"></span>
										
										
																												
										<form class="autoSend typeSelect" th:classappend="${payment.type==null} ? show : hide" th:action="@{/typeTransaction}" >
											<input type="hidden" name="id" th:value="${payment.id}" />
											<select name="type">
												<option value="" th:selected="${ payment.type == null}">Unknown</option>
												<option 
													th:each="paymentType : ${T(model.dataobjects.PaymentType).values()}"
													th:value="${paymentType}" th:text="${paymentType.name}" th:selected="${ paymentType == payment.type }"></option>
											</select>
										</form>									
									</td>
									<td class="currencyTableEntry col-md-1" th:text="${#numbers.formatDecimal(payment.realAmount, 1, 'COMMA', 2, 'POINT')}"></td>
									<td class="col-md-7" th:text="${payment.comments}"></td>
									<td class="col-md-1">	
										<span class="glyphicon glyphicon-edit editButton" style="cursor: pointer; margin-right: 6px"></span>									
										<a href="" th:href="@{/deleteTransaction/{id}(id=${payment.id})}"><span class="glyphicon glyphicon-remove red-colored"></span></a>
									</td>
								</tr>
								<tr th:each="incomeEntry : ${income}">							
									<td class="col-md-1" th:text="${#calendars.format(incomeEntry.date,'dd/MM/yyyy')}"></td>						 
									<td class="col-md-2">Income</td>
									<td class="currencyTableEntry col-md-1" th:text="${#numbers.formatDecimal(incomeEntry.realAmount, 1, 'COMMA', 2, 'POINT')}"></td>
									<td class="col-md-7" th:text="${incomeEntry.comments}"></td>
									<td class="col-md-1">										
										<a href="" th:href="@{/deleteIncome/{id}(id=${incomeEntry.id})}"><span class="glyphicon glyphicon-remove red-colored"></span></a>										
									</td>
								</tr>
							</tbody>
						
						</table>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- /.container -->

</body>
</html>

